.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.ingresar {
  position: absolute;
  top: 500px;
  left: 500px;
  padding: 10px;
  border-radius: 6px;
  background-color: aqua;
}
.image {
  position: absolute;
}
